.dashboard {
  box-sizing: border-box;
  padding: 5% 20%;
  background-color: #efefef;
  min-height: 100vh;
}

.dashboard__head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 0 50px 0;
}

.dashboard__head-wrapper-text h2, .dashboard__head-wrapper-text p {
  max-width: 50%;
  line-height: 1;
}

.dashboard__head-wrapper-text p {
  margin: 25px 0 0 0;
    line-height: 1.5;
    font-weight: 500;
}

.dashboard__head-wrapper-text h2 {
  font-size: 36px;
  margin: 0;

}

.dashboard__head-wrapper img {
  width: 240px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 24px;
}

.dashboard__ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.5vw;
}

.dashboard__ul li {
  /* background-color: #cdcdcd; */
  border-radius: 4px;
  display: flex;
  /* align-items: center; */
  align-items: stretch;
  justify-content: space-around;
  /* height: 280px; */
  min-height: 320px;
  gap: 0.5vw;
  /* aspect-ratio: 1/1; */
}

.dashboard__ul-li-innerdiv {
  width: 100%;
  /* background-color: #cdcdcd; */
  background-color: #d9d7d8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
}

.dashboard__ul li:first-of-type div:first-of-type {
  /* background-color: #7539b3; */
  /* background-color: #ad78e3; */
}

.dashboard__ul li div p {
  align-self: center;
    margin: auto 0;
    font-size: 18px;
    line-height: 1;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
}

.dashboard__ul li div p span {
  font-size: 32px;
  line-height: 1;
  color: #ad78e3;
}

.dashboard__ul-li-progress {
  width: 100%;
  height: 6px;
  background: grey;
  border-radius: 4px;
  /* position: ; */
}

.dashboard__ul-li-progress div {
  height: 100%;
  background: #7539b3;
  width: 17px;
  box-sizing: border-box;
}

#stats__calories {
  background-color: black;
  color: white;
}

#stats__bento {
  justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#stats__bento button {
  width: 100%;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stats__bento button p {
  margin: 0 auto;
  line-height: 1;
  font-size: 20px;
}

#stats__bento button img {
  background-color: #ad78e3;
  aspect-ratio: 1/1;
  width: 30px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
  padding: 7px;
  box-sizing: border-box;
  align-self: flex-start;
  rotate: -45deg;
}

/* #stats__bento div:last-of-type {
  grid-column: 1/3;
} */

@media screen and (max-width: 1439px) {
  .dashboard {
    padding: 5%;
  }
}